

<div class="quotes-container">

	<a id="referanser"></a>
		<div class="quotes-content">

		<div class="slides-container">
		<h4>VÅRE KUNDER SIER:</h4>	
		<div id="slides">

				<div class="single-quote">		 
					<%= image_tag 'logo-bedrift.png' %>
					<p class="quote">"Hoopla billett system er enkelt å bruke både for arrangør og kjøper. Dette har gjort hverdagen som arrangør mye lettere og vi bruker minimalt med tid på påmelding og oppfølging"<br/><br/>
					<span class="quote-signoff">- BEDRIFTSIDRETTEN</span></p>
				</div>

				<div class="single-quote">
					<%= image_tag 'logo-garage.png' %>
					<p class="quote">"Systemet er lett og oversiktlig å bruke og brukervennligheten er suveren. Så langt har vi bare fått gode tilbakemeldinger fra våre kunder"<br/><br/>
					<span class="quote-signoff">- GARAGE</span></p>
				</div>

				<div class="single-quote">
					<%= image_tag 'logo-korsvika.png' %>
					<p class="quote">"Vi opplever Hoopla som en veldig oversiktlig billettløsning sett både fra Administrator som setter opp forestillingene i Hoopla, og fra Billettluka som skanner og kontrollerer billetter"<br/><br/>
					<span class="quote-signoff">- KORSVIKASPILLET</span></p>
				</div>

				<div class="single-quote">
					<%= image_tag 'logo-hitra.png' %>
					<p class="quote">"Hoopla er en brukervennelig billetteringsløsning med enkel administrasjon og god oversikt for sluttbrukerne. Vi kan trygt anbefale Hoopla til andre"<br/><br/>
					<span class="quote-signoff">- HITRA KOMMUNE</span></p>
				</div>

				<div class="single-quote">
					<%= image_tag 'logo-barnas.png' %>
					<p class="quote">"Enkelt og brukervennelig med god oversikt over salgstall. Vi har allerede booket dem for 2014 og ser frem til videre samarbeid"<br/><br/>
					<span class="quote-signoff">- BARNAS SKIDAG</span></p>
				</div>

				<div class="single-quote">
					<%= image_tag 'logo-vinpuls.png' %>
					<p class="quote">"Hoopla har gitt meg svært god  oversikt og kontroll over billettsalget til VinPuls-arrangementene. Og de over 3000 medlemmene jubler over en ordning som gir alle medlemmer mulighet til å være først i køen"<br/><br/>
					<span class="quote-signoff">- VINPULS</span></p>
				</div>


			</div>

		</div>

		<div class="partners">
			<h4>SAMARBEIDSPARTNERE</h4>
			<%= image_tag 'logo-partners.png' %>
		</div>


	</div>
</div>

