<div class="about-container">
	<a id="omoss"></a>
 	<div class="about-content">
  		<div class="about-text">
	  	<h2>Om Hoopla</h2><br/>
	  	<p>
	  	Hoopla AS ble opprettet høsten 2011 med et ønske og mål om å gjøre det enklere for arrangører å håndtere sine arrangementer.<br/><br/>
	  	Adresseavisen og Bergens Tidene har siden 2012 samarbeidet tett med Hoopla for å kunne tilby Hoopla til flere arrangører.<br/><br/>
	  	Hoopla har tidligere vunnet Venture Cup Nasjonalt og mottatt stipender fra HiST, Discovery og Innovasjon Norge.	</p>
		</div>
	<div class="about-users">
		
		<div class="user-image">
			<%= image_tag 'user-knut.jpg' %>
			<h4>Knut Hellik Kvale</h4>
			<p>Daglig leder</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-torkil.jpg' %>
			<h4>Torkil Gustavsen</h4>
			<p>Utviklingsansvarlig</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-eirik.jpg' %>
			<h4>Eirik Smedsrud</h4>
			<p>Designer</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-havard.jpg' %>
			<h4>Håvard Lindset</h4>
			<p>Systemarkitekt</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-aashild.jpg' %>
			<h4>Åshild Skarra</h4>
			<p>Kontormedarbeider</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-oystein.jpg' %>
			<h4>Øystein Tandberg</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-magnus.jpg' %>
			<h4>Magnus Thrap</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-emil.jpg' %>
			<h4>Emil Grønnbeck</h4>
			<p>Systemutvikler</p>
		</div>

		<div class="user-image">
			<%= image_tag 'user-jonas.png' %>
			<h4>Jonas Svarvaa</h4>
			<p>Systemutvikler</p>
		</div>	
	</div>
  </div>
</div>
  