<div class="sales-container">
	<div class="sales-content">
		<%= image_tag 'hoopla-top-logo.png', :class => "sales-logo" %>
		
		<div class="sales-block">
			<h2>Salgsmateriale</h2>
			<p>Under finner du markedsføringsmateriale til salgsmøter og diverse. Last ned presentasjoner og gjør det kjent med de forskjellige demo-linkene før du går i salgsmøter. Vi tar gjerne imot forslag til endringer / forbedringer av tekst og materialet generelt for å gjøre det så bra som mulig =)
			<br/><br/></p>
	  		<div class="download-item">	
	  		<i class="icon-download"></i>
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/hoopla.zip' do %>
	  		<%= image_tag 'sales-all.png', :class => "download-image" %><br/><p class="download">Alt</p><% end %>
	  		</div>
			
		</div>

		<div class="sales-block">
			<h2>Brosjyrer</h2>
			
			
			<div class="download-item">
			<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/pamflet/pamflet-generell.pdf' do %>
	  		<%= image_tag 'sales-pamflet.png', :class => "download-image" %><br/><p class="download">Generell</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/pamflet/pamflet-festival.pdf' do %>
	  		<%= image_tag 'sales-pamflet.png', :class => "download-image" %><br/><p class="download">Festival</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/pamflet/pamflet-konsert.pdf' do %>
	  		<%= image_tag 'sales-pamflet.png', :class => "download-image" %><br/><p class="download">Konsert</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/pamflet/pamflet-kurs-seminar.pdf' do %>
	  		<%= image_tag 'sales-pamflet.png', :class => "download-image" %><br/><p class="download">Kurs/Seminar</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/pamflet/pamflet-kurs-spel.pdf' do %>
	  		<%= image_tag 'sales-pamflet.png', :class => "download-image" %><br/><p class="download">Spel</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/pamflet/pamflet-kurs-idrett.pdf' do %>
	  		<%= image_tag 'sales-pamflet.png', :class => "download-image" %><br/><p class="download">Idrett</p><% end %>
	  		</div>

		</div>

		<div class="sales-block">
			<h2>Demo sider</h2>
			<p>Brukernavn: demo@hoopla.no<br/>
			Passord: demo1234</p>
			<div class="download-item">
	  		<i class="icon-export"></i>	
			<% link_to 'http://demokonto.hoopla.no' do %>
	  		<%= image_tag 'sales-demo.png', :class => "download-image" %><br/><p class="download">Demokonto</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-export"></i>	
			<% link_to 'http://festival.hoopla.no' do %>
	  		<%= image_tag 'sales-demo.png', :class => "download-image" %><br/><p class="download">Festival</p><% end %>
	  		</div>
		</div>

		<div class="sales-block">
		<h2>Presentasjoner</h2>
			<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/presentation/presentasjon-live-demo.pdf' do %>
	  		<%= image_tag 'sales-presentation.png', :class => "download-image" %><br/><p class="download">Pres u/Demo</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/presentation/presentasjon-live-demo.pdf' do %>
	  		<%= image_tag 'sales-presentation.png', :class => "download-image" %><br/><p class="download">Brukerforum</p><% end %>
	  		</div>
		</div>


		<div class="sales-block">
		<h2>Diverse</h2>
			<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/diverse/arrangor-typer.pdf' do %>
	  		<%= image_tag 'sales-types.png', :class => "download-image" %><br/><p class="download">Arrangørtyper</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/diverse/one-pager.pdf' do %>
	  		<%= image_tag 'sales-onepager.png', :class => "download-image" %><br/><p class="download">One Pager</p><% end %>
	  		</div>

	  		<div class="download-item">
	  		<i class="icon-download"></i>	
			<% link_to 'http://d16s6o6uu491xt.cloudfront.net/salesportal-files/annonser/ads-01.zip' do %>
	  		<%= image_tag 'sales-ads.png', :class => "download-image" %><br/><p class="download">Webads</p><% end %>
	  		</div>
		</div>
		

	</div>
</div>